@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
  background-color: #131313;
}

#text1{
  font-family: "Josefin Sans", sans-serif;
}
#hey{
  font-family: "Jaldi", sans-serif;
}
#a{
  font-family: "Jaldi", sans-serif;
}

.Skill:hover{
 height: 280px;
 transition: all ease-in 0.3s;
 transition: all ease-out 0.3s;
}
.Skill:hover {
  background-color: var(--hover-color);
}
